.thumbnail img{
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}
#delete-form  {
  display: inline;
}

/* id del h1 del login page */
.hPageText {
  text-align: center
}

.forms-campgrounds {
  width: 90%;
  margin: 25px auto; 
  max-width: 350px;
}

/* Google maps */
#map{
  height: 400px;
  width: 100%;
}
